*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    text-align: center;
    width: 100%;
}
header .nombre{
    color: greenyellow;
    font-size: 20px;
}

header span{
color: blueviolet;
font-size: 50px;
}

header .container{
 margin: 20px;
 padding: 10px;

}

header .container input{
    height: 20px;
    color: black;
}

header select #prioridad{
    height: 20px;
    color: rgb(71, 182, 27);
}
main .container{
    width: 100%;
}
main #buscar .buscarTarea{
height: 25px;


}
main #tarea .item_input {  
    height: 30px;
    outline: none;
    width: 450px;
    font-size: 20px;
    margin: 10px;
    background: none;
    text-align: center;
    color: lime;

}

 main #tarea .editButton{
    margin: 2px;
    font-size: 10px;
    background: none;
    outline: none;
    color: slateblue;
    border:none;
    cursor: pointer;
}
main #tarea .removeButton{
    margin: 2px;
    font-size: 10px;
    background: none;
    outline: none;
    color:red;
    border:none;
    cursor: pointer;
}


.urgente{
    background-color: red;

}

.diario{
    background-color: green;
}

.mensual{
    background-color: blue;
}